---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Summary</div>
  </div>

  <div class="mb-10 text-justify">
    I am a dedicated software engineer manager with a strong background in technical leadership, project management, web-based development and cloud infrastructure. I have effectively guided teams in architecting, building, delivering, and maintaining scalable software applications.
  </div>

  <div class="mb-10 text-justify">
  Beyond my managerial and technical skills, I am deeply passionate about fostering collaboration and knowledge sharing within the technical community. I actively participate in technical community events, such as meetups, where I can engage with fellow professionals and exchange insights. Furthermore, I enjoy writing technical articles to contribute to the collective learning and growth of the industry.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">My experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Software Engineer Manager - Mile Two LLC"
      subtitle="2023 - Present"
    >
    <ul class="list-disc">
      <li>Spearheaded the development of a cutting-edge resource sharing platform for the Air Force Research Lab (AFRL), fostering collaboration and minimizing duplication of effort across directories.</li>
      <li>Collaborated with Data and Design teams to design and implement an intuitive, responsive user interface using Next.js and React frameworks.</li>
      <li>Ensured high-quality code by writing unit tests with React Testing Library and integrating them into the CI/CD pipeline for automated testing before deployment.</li>
      <li>Designed and implemented a scalable architecture using Google Apigee (currently transitioning to Kong) as an API gateway, enabling seamless connectivity to multiple data sources at various stages of development.</li>
      <li>Developed and deployed microservices using Golang and Gin framework with GORM ORM to manipulate data in PostgreSQL databases. As well as Python and Flask for NLP and LLM feature integrations.</li>
      <li>Streamlined application deployment processes by creating Docker and Kubernetes helm charts, deploying applications in the Google Cloud Environment, and implementing automated CI/CD pipelines using GitLab CI/CD.</li>
      <li>Utilized Grafana's K6 tool to execute performance tests, ensuring optimal system performance.</li>
      <li>Mentored a team of four, providing guidance and support for professional growth and development.</li>
      <li>Led the Women In Tech resource group, organizing networking events, workshops, and community-building sessions to promote diversity and inclusion in the tech industry.</li>
    </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Software Engineer - Circulo Health"
      subtitle="2021 - 2022"
    >
    <ul class="list-disc">
      <li>Designed and developed a mobile application using TypeScript and React Native as the frontend, providing a seamless user experience.</li>
      <li>The mobile app enabled healthcare providers to log their hours worked, schedule patient transportation, access patient information, medication administration records, and report medication administration in real-time. Additionally, it utilized Google geocoding APIs to determine the user's location, allowing for more accurate and efficient scheduling of patient appointments.</li>
      <li>Developed a web-based application using React and TypeScript, serving as an administrative interface for healthcare offices and administrators.</li>
      <li>The web app enables administrators to manage patient data, track patient medication and appointment schedules, and schedule healthcare provider shifts. This allowed for better resource allocation and optimized patient care.</li>
      <li>Built a REST API using Golang and GORM in conjunction with a PostgreSQL database, enabling efficient data processing and storage.</li>
      <li>Created unit tests using Sqlmock ensuring robustness and reliability under various scenarios.</li>
      <li>Implemented AWS lambdas and step functions to automate tasks such as anomaly detection, handling, and notification via SMS and email. This resulted in a 25% reduction in anomaly response time and improved overall system reliability.</li>
      <li>Used Terraform to deploy and instantiate the necessary resources on AWS, including Lambda functions, API Gateway, and other supporting infrastructure. This enabled efficient management of cloud-based services and ensured consistent deployment of new features.</li>
      <li>Led a monthly book club discussion on "Designing Data-Intensive Applications: The Big Ideas Behind Reliable, Scalable, and Maintainable Systems." This allowed team members to engage in meaningful conversations about software architecture, data processing, and system design.</li>
    </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Software Engineer - Mile Two LLC"
      subtitle="2018 - 2021"
    >
    <ul class="list-disc">
      <li>Developed products and prototypes using TypeScript, JavaScript, and React as the frontend framework, Apollo/GraphQL as the backend, and collaborated with cross-functional teams to design and build tools that enhanced analysts' productivity and mission success.</li>
      <li>Designed and created data visualizations using various tools to facilitate better decision-making for data analysts. This involved creating interactive dashboards, charts, and graphs that helped stakeholders make informed decisions.</li>
      <li>Utilized rapid prototyping skills to develop proof-of-concepts using React with JavaScript and Flask with Python. These prototypes were instrumental in securing contracts and scaling projects for the company.</li>
      <li>Employed Docker containers to containerize projects, streamlining deployment and enabling fellow developers to run projects locally without installing dependencies. This ensured consistency and efficiency throughout the development process.</li>
      <li>Led a small team to develop a library-based tool that enabled users to assess their project's TRL (Technology Readiness Level) or MRL (Mission Readiness Level) score. This purely frontend application utilized a logical decision tree to guide the assessment, providing a pdf format downloadable file with the user’s final score and future steps.</li>
    </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Computer Science Tutor - Franklin University"
      subtitle="2018 - 2019 "
    >
    <ul class="list-disc">
      <li>Provided personalized guidance and support to students through one-on-one sessions, fostering a deeper understanding of complex Computer Science concepts across multiple subjects</li>
      <li>Developed customized approaches to clarify key ideas in areas such as: database management, data structures, and algorithms.</li>
      <li>Utilized a student-centered approach to create engaging learning experiences, incorporating problem-solving strategies and critical thinking exercises.</li>
      <li>Consistently delivered high-quality guidance, feedback, and encouragement to students, promoting their growth and development as Computer Science professionals.</li>
    </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Volunteer - Code for Dayton"
      subtitle="2018"
    >
    <ul class="list-disc">
      <li>Spearheaded collaboration efforts on an anonymous reporting platform for direct care nurses to report instances of compromised patient safety due to inadequate staffing.</li>
      <li>Contributed to the development of this initiative by designing a compelling logo, crafting a cohesive color palette, and creating wireframes that serve as a visual guide for the team, ensuring a consistent look and user experience throughout the site.</li>
      <li>Utilized creative problem-solving skills to develop innovative solutions that meet the needs of users (direct care nurses) while maintaining an intuitive and user-friendly interface.</li>
    </ul>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">My education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelor of Computer Science"
      subtitle="2015 to 2018 at Franklin University, Columnbus, Ohio"
    />
    <TimeLineElement
      title="Earned 53 credits toward a Bachelor of Arts in Fine Arts, B.F.A."
      subtitle="2011 to 2013 at Wright State University, Dayton, Ohio"
    />
    <TimeLineElement
      title="Associate of Applied Science in Visual Communications, A.A.S."
      subtitle="2009 to 2011 at Sinclair Community College, Dayton, Ohio"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">My conference presentations</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Women Tech Global Conference"
      subtitle="Build a Culture of Belonging Within Your Organization (2020)"
    />
    <TimeLineElement
      title="JavaScript and Friends Conference"
      subtitle="Vue.js Vs. React.js (2019)"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">My toolbox</div>
  </div>

  <div class="grid grid-cols-2 md:grid-cols-4 space-y-6 pl-4">
    <div class="col-span-2">
      <h2 class="font-bold">Skills</h2>
      <ul class="list-disc">
        <li>Cloud Computing (AWS and GCP)</li>
        <li>PostgreSQL</li>
        <li>Mobile App Development (React Native)</li>
        <li>GraphQL/Apollo</li>
        <li>Data Visualization</li>
        <li>Rapid Prototyping</li>
        <li>Technical Writing/Documentation</li>
        <li>Agile Methodologies</li>
      </ul>
    </div>

    <div>
      <h2 class="font-bold">Tools</h2>
      <ul class="list-disc">
        <li>Next.js</li>
        <li>React</li>
        <li>Node.js</li>
        <li>Flask</li>
        <li>Gin</li>
        <li>Docker</li>
        <li>Terraform</li>
        <li>Kubernetes</li>
      </ul>
    </div>

    <div>
      <h2 class="font-bold">Languages</h2>
      <ul class="list-disc">
        <li>JavaScript</li>
        <li>TypeScript</li>
        <li>Golang</li>
        <li>Python</li>
        <li>SASS/CSS</li>
        <li>HTML</li>
      </ul>
    </div>
  </div>
</BaseLayout>
